body {
    overflow: auto;
    height: 90%;
    padding-bottom: 10px;
}

.table {
    font-family: 'Segoe UI Semibold',
        wf_segoe-ui_semibold,
        helvetica,
        arial,
        sans-serif;

    font-size: 18.666666666666664px;

    thead {
        th {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: #5B9DD7;
            color: #ffffff;
            padding: 3px 5px 16px 5px;
        }
    }

    tbody {
        tr:nth-child(odd) {
            background-color: #D6F0FF;
        }

        tr:nth-child(even) {
            background-color: #ffffff;
        }

        td:hover {
            background-color: #26a3eb;
            box-shadow: inset -6px 0 0 -5px #ffffff, inset 0 -6px 0 -5px #e6e6e6;
        }
    }

    tfoot {
        td {
            position: sticky;
            bottom: 0;
            z-index: 1;
            background-color: white;
            color: #1A1F91;
            font-size: 18.666666666666664px;
            font-family: 'Segoe UI Bold', wf_segoe-ui_bold, helvetica, arial, sans-serif;
        }


    }
}